<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!-- JavaScript dependencies -->
  <script src="https://unpkg.com/htmx.org@1.7.0" integrity="sha384-EzBXYPt0/T6gxNp0nuPtLkmRpmDBbjg6WmCUZRLXBBwYYmwAUxzlSGej0ARHX0Bo" crossorigin="anonymous" defer></script>
</head>
<body>
  <h1 id="my_title">Hello world!</h1>

  <button 
    hx-post="/my_function"
    hx-trigger="click"
    hx-target="#my_title"
    hx-swap="innerHTML"
  >
    Click Me!
  </button>
</body>
</html>